/* Style of index.html */
body { background-color : rgba(192,192,192,0.3); text-align : center; } 

#form { display :inline-block; }
#input_names{ font-size : 100% ;
	font-weight: bold; 
	display :flex;}

.h5 { display :inline-block; }
#name1 {display: inline-block; margin :10px; }
#name2 {display: inline-block; margin : 10px ;}
#button {padding: 20px 40px; 
	margin : auto ;
	cursor: pointer; 
	border-radius: 10px;}