header{color: blue;
	background-color: yellow ;
	text-align : center;}
h2 { margin: auto ;
	margin-bottom: 5px ;
}
body { background-color : rgba(192,192,192,0.3); } 

.error {color : red; }

/* Players and Score */
.players-and-score{ font-size : 150% ;
	border : 1px solid black;
	display :flex;
	font-weight: bold; }
.player1{width : 50%;
	text-align : center;
	border: 3px solid green;
	display: inline-block;}
.player2{width : 50%;
	text-align : center;
	border: 3px solid red;
	display: inline-block;}
#player1 { display: inline-block; width: 50%; margin:5px; margin-bottom: 7px;}
#player2 { display: inline-block; width: 50%; margin:5px; margin-bottom: 7px;}
	
/* Sets and Legs */
.sets-and-legs {margin : 5px ;
	font-size : 130% ;
	display :flex;}
.l-sets-and-legs {width : 25%;
	text-align : center;
	border: 3px solid green;
	display: inline-block;}
.m-sets-and-legs {width : 50%;
	text-align : center;
	text-decoration: underline;
	border: 1px solid black;
	display: inline-block;}
.r-sets-and-legs {width : 25%;
	text-align : center;
	border: 3px solid red;
	display: inline-block;}

/* checkout solutions */
.suggested-solutions {
	margin : 5px ;
	font-size : 130% ;
	display :flex;
}
table {
    width: 100%;
    text-align: center; 
	border-collapse: collapse;
}
#middle_row {
	background-color: #C6C6C6 ;
}
#row1 { border-bottom: 2px solid green; border-top: 2px solid green;}
#row2 { border-bottom: 2px solid red; border-top: 2px solid red;}

/* knoppen (start,undo,stop) */
.knoppen {margin: auto ; width : 70% ; 
	font-size : 90% ;
	display :flex;}
.knop1 {padding: 20px 40px; 
	margin : auto ;
	cursor: pointer; 
	color : white ; 
	border-radius: 10px;}
.vak1 {width : 40%; padding : 4px;
	text-align : center;
	display: inline-block;}
.vak2 {width : 30%; 
	padding : 4px;
	text-align : center;
	display: inline-block;}
.vak3 {width : 40%; padding : 4px;
	text-align : center;
	display: inline-block;}

/* Input scores */
.input{padding: 20px;
	margin : auto ;
	display: block;
	border : 1px solid #ccc;
	width: 50% ;
	font-size : 150% ;}
.input-score{margin : 4px ;
	display : flex;}
.lscore {width : 30%;
	text-align : center;
	border: 2px solid green;
	display: inline-block;
	margin-right : 5px ; }
.mscore {width : 20%; 
	padding : 5px;
	text-align : center;
	display: inline-block;}
.rscore {width : 30%;
	text-align : center;
	border: 2px solid red;
	display: inline-block;
	margin-left : 5px ;}
	
/* cijfer toetsen  */
.keyboard { margin-bottom : 2px ;}
.keyboard-row {width : 100%;
	text-align : center;
	display: inline-block;
	margin : 1px}
.key {width : 30%;
	font-size : 250% ;
	text-align : center;
	border: 1px solid black;
	display: inline-block;}
	
/* dartboard */
#canvasPane {
    left: 25%;
	right: 25%;
    height: 70%;
    width: 70%;
    position: absolute;
}
#canvas {
	border: 1px solid black;
}
	
/* gamestatistieken */	
.gamestats {font-size : 95% ;
	border : 1px solid black;
	display : block;}
.lstats {width : 30%;
	text-align : center;
	border: 3px solid green;
	display: inline-block;}
.rstats {width : 30%;
	text-align : center;
	border: 3px solid red;
	display: inline-block;}
.mlstats {width : 20%;
	text-align : center;
	border: 3px solid green;
	display: inline-block;}
.mrstats {width : 20%;
	text-align : center;
	border: 3px solid red;
	display: inline-block;}
.statics {width : 95% ;
	font-size : 85% ;
	text-align : left ;}
.ltest {width : 40%;
	text-align : left;
	display: inline-block;}
.rtest {width : 40%;
	text-align : right;
	display: inline-block;}
	
.total-throw {
	display: inline-block;
	width: 50%;
	color: grey;
}
.total-score {
	float : left ;
	margin-left : 20px ;
	width : 30% ; }

